{
	auto_https disable_redirects
}

grafana.lab.kanare.dev {
	reverse_proxy 192.168.11.13:3000
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

prometheus.lab.kanare.dev {
	reverse_proxy 192.168.11.13:9090
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

pve.lab.kanare.dev {
	reverse_proxy https://192.168.11.10:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

home.lab.kanare.dev {
	reverse_proxy 192.168.11.20:3001
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

adguard.lab.kanare.dev {
	reverse_proxy 192.168.11.11:3000
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

scanopy.lab.kanare.dev {
	reverse_proxy 192.168.11.20:60072
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}
